/* general css */

/* variables globales de estilos: */
:root {
  --themeColor: #0F1624;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--themeColor);
}

.App {
  border: solid yellowgreen 2px;
}

