/* general css */
/* borrar - luego el background color ponerlo en app */

/* variables globales de estilos: */
:root {
  --main-color: green; /* -> variable */
}

html, body {
  border: solid red 1px;
  margin: 0;
  padding: 0;
  background-color: rgb(16, 23, 31);
}
.App {
  border: solid blue 1px;
}

